body{
    background-image:url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    display: flex;              
    flex-direction: column;     
    width: 65%;                 
    height: 50%;
    margin: 20px auto 20px auto; 
    border: 2px solid #ccc;    
    border-radius: 8px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 33%;          
    margin-top: 10%;
    background-color: #ffffff;
}

.card-header {
    background-color: #888888; 
    color: #fff;
    padding: 10px; 
    font-size: 1.25em; 
    font-weight: bold; 
    border-bottom: 1px solid #ccc; 
}

.card-body {
    padding: 15px; 
}

blockquote {
    margin: 0; 
    font-size: 1em; 
    color: #333; 
    line-height: 1.5; 
}

blockquote p {
    margin: 0; 
}

.form-control{
    width: 45%; 
    margin: 20px auto; 
}

.group-btn {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    margin-left: 30%; 
   
}

.group-btn .btn {
    width: 93%; 
    text-align: center; 
    padding: 15px; 
    margin-bottom: 10px; 
    opacity: 70%;
    background-color: #FFFFFF;
    font-style: oblique;
    font-weight: 300;
}

.group-btn .btn:hover {
    background-color: #ffffff;
    opacity: 100%; 
    font-weight: 400;
}

.card-check{
    width: 93%; 
    text-align: center; 
    padding: 15px; 
    margin-bottom: 10px; 
    opacity: 90%;
    background-color: #d9d9d9;
}

.card-check {
    display: flex;             
    flex-direction: column;     
    width: 65%;                 
    height: 50%;
    margin: 20px auto 20px auto; 
    border: 2px solid #ccc;     
    border-radius: 8px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 33%;         
    background-color: #d9d9d9;
}

.code {
    justify-items: center;
    align-items: center;
    position: relative;
}

.scal{
    margin-top: -200px;
 }

 a.nav-link{
    color: #fff;
 }

 .logo{
    display: flex;
    justify-content: flex-end;
    color: #fff;
    margin-right: 15px;
    margin-top: 15px;
 }